body {
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

header {
    color: black;
    padding: 15px;
    text-align: center;
}

.data-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    gap: 15px;
    transition: all 0.3s ease;
}

.data-card {
    width: 200px;
    padding: 15px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    justify-content: center;
    align-items: center;
}

.data-card .heading {
    display: flex;
    align-items: center;
    gap: 10px;
}

.data-card:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}